/* h1 {
    font-family: ff-cocon-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
} */










/* h6 {
font-family: objektiv-mk1, sans-serif;
font-weight: 500;
font-style: normal;

font-family: objektiv-mk1, sans-serif;
font-weight: 500;
font-style: italic;

font-family: ff-cocon-pro, sans-serif;
font-weight: 700;
font-style: normal;

} */


/* My styles */

:root {
    --violetColor: #724CF9;
    --footerContentColor: #B8A7F6;
    --bs-indigo: 114,76,249;
    /* --bs-body-color: #F2F2F2; */
    /* --bs-body-color-rgb: 242,242,242; */
    --bs-body-bg: #E6E6E6;
    --bs-body-bg-rgb: 230,230,230;
    --bs-primary: #E6A82D;
    --bs-primary-rgb: 230,168,45;
    --bs-secondary: #000001;
    --bs-secondary-rgb: 0,0,1;
    --bs-dark: #222222;
    --bs-dark-rgb: 34,34,34;

    --bs-tertiary-color: #222222;
    --bs-tertiary-color-rgb: 34,34,34;
    --bs-focus-ring-color: rgba(var(--bs-indigo), 1);
    
    /* --bs-focus-ring-x: outline: 4px dashed black; */
    /* --bs-focus-ring-y: outline: 4px dashed black; */
    /* --bs-focus-ring-blur */

}

h1 {
    font-family: ff-cocon-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.6rem;
}

h2 {
    font-family: objektiv-mk1, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
}


/* button {
  padding: 5px 10px 5px 10px;
  background-color: #724CF9;
} */



/* Allows button text to be visable */
a {
  position: relative;
  z-index: 99;
}

/* Primary CSS button */

.button-primary {
  position: relative;
  text-decoration: none;
  font-family: objektiv-mk1, sans-serif;
  font-weight: bold;
  padding: 13px 25px;
  transition: ease-in 250ms;
  color: var(--bs-secondary);
}

.button-one {
  /* color:#724CF9; */
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
}

.button-one::before {
  content: '';
  display: block;
  position: absolute;

  bottom: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background: var(--bs-secondary);
  transform-origin: left;
  transition: ease-in 250ms;
  z-index: -1;
}

.button-one::after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  background: var(--bs-primary);
  z-index: -2;
}

.button-one:hover {
  color: var(--bs-primary);
}

.button-one:hover::before {
  height: 100%;
}


/* Secondary CSS button */

.button-two {
  /* color:#724CF9; */
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
}

.button-two::before {
  content: '';
  display: block;
  position: absolute;

  bottom: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background: var(--bs-secondary);
  transform-origin: left;
  transition: ease-in 250ms;
  z-index: -1;
}

.button-two::after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  background: var(--bs-body-bg);
  z-index: -2;
}

.button-two:hover {
  color: var(--bs-primary);
}

.button-two:hover::before {
  height: 100%;
}


/* Tertiary CSS button */
.button-three {
  /* color:#724CF9; */
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
}

.button-three::before {
  content: '';
  display: block;
  position: absolute;

  bottom: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background: var(--bs-primary);
  transform-origin: left;
  transition: ease-in 250ms;
  z-index: -1;
}

.button-three::after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  background: var(--bs-body-bg);
  z-index: -2;
}

.button-three:hover {
  color: var(--bs-secondary);
}

.button-three:hover::before {
  height: 100%;
}




/* ========================================================= Skip links styles ====================================================== */

.skip-links {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9;
}

.skip-links a {
  position: absolute;
  top: -8rem;
  /* background-color: var(--bs-secondary); */
  background-color: #724CF9;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: 700;
  z-index: 9;
}

.skip-links a:focus {
  top: 8rem;
}


/* ========================================================= Nav styles =========================================================== */

.btn:focus, a:focus, button:focus {
    outline: 4px dashed #724CF9;
  }

nav .btn-group .btn {
  color:#000001;

}

nav .btn-group .btn:hover {
  color: var(--violetColor);
}

nav .btn-group i {
  font-size: 2.3rem;
}

nav .btn-primary {
    background-color: var(--bs-tertiary-color);
    border: var(--bs-tertiary-color);
    
}

nav .btn-primary:hover, nav .btn-primary:focus, nav .btn-primary:active, nav .btn-primary.active {
    /* color: var(--bs-tertiary-color) !important; */
    background-color: var(--bs-primary-color) !important;
    border: 0.5px solid var(--bs-tertiary-color);
}

nav .navbar-nav a, nav .navbar-nav a:focus {
  color: var(--bs-primary);
}

nav .navbar-nav a:hover {
  color: var(--bs-secondary);
}




/* ========================================================= Welcome styles ==========================================================*/



#banner-home {
  padding-top: 8rem;
  min-height: 100vh;
  background-image: url("../img/main-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

#banner-home h2 {
  margin-bottom: 8rem;
}



h1 {
  text-align: center;
}


.welcome-content .button-primary {
  margin-bottom: 1rem;
}

.welcome-content {
  margin: 0 auto;
  width: 100%;
  flex: 0 0 230px;
}



/* ========================================================= Bit About Me styles =====================================================*/


h2 {
  text-align: center;
}

h3 {
  text-align: center;
}


#bit-about-me .row {
  margin: 0 auto;
}


#bit-about-me {
  background-color: var(--bs-body-bg);
}


/* ========================================================= Some of My Projects styles ==============================================*/


#some-projects .card {
  max-width: 22rem;
  margin: 0 auto;
  border: none;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#some-projects .primary-button {
  width: 100%;
}



/* =====================================================================================================================================
                                                            About Page                                                                
======================================================================================================================================*/

#about-body {
  background-color: var(--bs-dark);
}


/* ========================================================= Intro styles ============================================================*/

#banner-about {
  padding-top: 8rem;
  min-height: 70vh;
  height: 31rem;
  /* height: 500px; */
  background-image: url("../img/main-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}


/* ========================================================= About me styles =========================================================*/

/* About me section */

#about-me {
  background-color: var(--bs-tertiary-color);
  position: relative;
  height: 65rem;

}

#about-me .container {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: white; */
  /* padding: 20px; */
  padding-bottom: 2rem;
  z-index: 2;
  width: 85%;

}

/* Skills section */

.skills i {
    font-size: 3rem;
  }

  .skills i:nth-child(7) {
    margin-left: 0.5rem;
  }

  .skills i:nth-child(5) {
    margin-left: 0.2rem;

  }

  .v-line {
    border-left: 2px solid black;
    height: 2.5rem;
    margin-left: 1.8rem;
  }

  .skills p {
    margin-bottom: 0rem;
  }

  /* Past web projects section */

  #past-web-projects {
    background-color: var(--bs-secondary);
  }

  #past-web-projects i {
    font-size: 6rem;
    color: var(--bs-primary);
  }


  
/* =====================================================================================================================================
                                                            Contact Page                                                                
======================================================================================================================================*/

#contact-body {
  background-color: var(--bs-secondary);
}

/* ========================================================= Section help styles =====================================================*/

#banner-contact {
  padding-top: 8rem;
  min-height: 30vh;
  background-image: url("../img/main-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

/* Section contact */

#fullName, #emailInfo, #phoneNumber, #comments {
  border-color: var(--bs-secondary);
}



/* ========================================================= Section resume styles ===================================================*/

#section-resume i {
  font-size: 2rem;
  margin-right: 0.5rem;
}

#section-resume .button-primary {
  max-width: 100%;

}




/* ========================================================= Footer styles ===========================================================*/


footer .container {
  padding: 5px 0px 5px 0px;
}

footer .container {
  text-align: center;
}

footer a, footer p {
  color: var(--footerContentColor);
}



/* =====================================================================================================================================
                                                           Media Queries                                                                
======================================================================================================================================*/


/* ====================================================== Media queries small mobile =================================================*/

/* @media screen and (min-width: 300px) {


} */

/* ==================================================== Media Query tablet styles ====================================================*/
                
@media screen and (min-width: 768px) {
  
  #bit-about-me h3 {
    text-align: left;
    margin-left: 12px;
  }


/* =====================================================================================================================================
                                                            About Page                                                                
======================================================================================================================================*/

  #banner-about {
    min-height: 65vh;
  }

  #about-me {
    height: 57rem;
  }


  #about-me .container {
    bottom: 0%;
    padding-bottom: 2rem;
  }


  #past-web-projects i {
    font-size: 8rem;
  }


} /* End of @media query tablet*/


/* ==================================================== Media Query web styles =======================================================*/
                                                
@media screen and (min-width: 992px) {

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.25rem;
  }
  
  body {
    background-color: var(--bs-primary);
  }

  nav .btn-group i {
    font-size: 3.5rem;
  }


  #banner-home {
    padding-top: 12rem;
  }

  #bit-about-me {
    background-color: var(--bs-primary);
  }

  #some-projects .card {
    max-width: 36rem;
  }

  #some-projects .col {
    background-color: var(--bs-tertiary-color);
  }


/* =====================================================================================================================================
                                                            About Page                                                                
======================================================================================================================================*/

  #banner-about {
    padding-top: 12rem;
  }

  #about-me {
    background-color: var(--bs-body-bg);
    height: 45rem;
  }

  #banner-about {
    min-height: 45vh;
    height: 25rem;
  }


  #about-me .container {
    position: static;
    bottom: 0%;
    left: 0%;
    transform: translateX(0%);
    padding: 20px;
    z-index: 2;
    width: 100%;
  }

  .skills i {
    font-size: 3rem;
  }

  .skills i:nth-child(7) {
    margin-left: 0.5rem;
  }

  .skills i:nth-child(5) {
    margin-left: 0.2rem;

  }

  .v-line {
    border-left: 2px solid black;
    /* height: 2.7rem; */
    height: 2.5rem;
    margin-left: 1.8rem;
  }


  #past-web-projects {
    background-color: var(--bs-dark);
  }

  #past-web-projects i {
    font-size: 27rem;
  }



  
  footer .container {
    padding: 25px 0px 25px 0px;
  }



} /* End of @media query web */

